<div class="col-xl-12 col-md-12">
	<div class="row">
		<!--div class="col-md-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Tanggal </label>
				<div class="col-sm-8">
					<input type="date" class="form-control tgl" value="{$smarty.now|date_format:'%Y-%m-%d'}" id="tgl_{$acak}">
				</div>
			</div>
		</div-->
		<div class="col-md-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Bulan</label>
				<div class="col-sm-8">
					<select id="bln_{$acak}" name="bln" class="form-control">
						{foreach from=$bln item=i key=a}
						<option value="{$a|default:''}">{$i|default:''}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Tahun</label>
				<div class="col-sm-8">
					{html_select_date prefix='tahun' start_year='-5' display_days=false display_months=false all_extra='class="form-control" id="tahun"'}
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Lokasi</label>
				<div class="col-sm-8">
					<select id="ip_{$acak}" class="form-control">
						
						{foreach from=$ip item=i key=a}
						{if $i.id|default:'' != ''}
							{for $foo=1 to 2}
							<option value="{$i.id|default:''}|{$foo}">{$i.id|default:''} ( Jalur {if $foo eq 1}A{else}B{/if})</option>
							{/for}
						{/if}
						{/foreach}
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group row">
				<button class="btn btn-danger" id="" onclick="gr_r_jam();gr_table_total();">View</button> &nbsp;
				<button class="btn btn-success" id="exp_{$acak}">Export Excel</button>
			</div>
		</div>
	</div>
</div>
<div class="col-xl-8 col-md-8">
		<div class="card">
			<div class="card-header">
				<h5>TOTAL COUNTING KENDARAAN</h5>
				<div class="card-header-right">
					<ul class="list-unstyled card-option">
						<li><i class="feather icon-maximize full-card"></i></li>
						<li><i class="feather icon-minus minimize-card"></i>
						</li>
						<li><i class="feather icon-trash-2 close-card"></i></li>
					</ul>
				</div>
			</div>
			<div class="card-block">
				<div id="chart_klass_{$acak}" style="height:320px"></div>
			</div>
		</div>
	</div>
	<div class="col-xl-4 col-md-4">
		<div class="card">
			<div class="dt-responsive table-responsive" style="height:500px;">
				<table id="table-style-hover" class="table table-striped table-hover table-bordered nowrap">
					<thead>
						<tr>
							<th>No.</th>
							<th>Tanggal</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody class="dt">
						
					</tbody>
					
				</table>
			</div>
		</div>
</div>
<script>
$(document).ready(function(){
	gr_r_jam();
	gr_table_total();
});
$('#exp_{$acak}').bind('click',function(){
	var param={};
	param["ip"]=$('#ip_{$acak}').val();
	param["bln"]=$('#bln_{$acak}').val();
	param["thn"]=$('#tahun').val();
	param["mod"]='r_bulan';
	openWindowWithPost(host+'modul/export_excel',param);
});
{literal}	

//$('.tgl').datepicker();
function gr_r_jam(){	
	$.post(host+'modul/get_chart/t_r_bulan',{ ip:$('#ip_{/literal}{$acak}{literal}').val(),bln:$('#bln_{/literal}{$acak}{literal}').val(),thn:$('#tahun').val() },function(r){
		var js=JSON.parse(r);
		
		$('#chart_klass_{/literal}{$acak}{literal}').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: 'Total Kendaraan Per Bulan '+$('#bln_{/literal}{$acak}{literal} option:selected').text()
			},
			subtitle: {
				text: ''
			},
			accessibility: {
				announceNewData: {
					enabled: true
				}
			},
			xAxis: {
				type: 'category'
			},
			yAxis: {
				title: {
					text: 'Total'
				}

			},
			legend: {
				enabled: false
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						format: '{point.y:.1f}'
					}
				}
			},

			tooltip: {
				headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
				pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
			},

			series: js
		});
	});
}
function gr_table_total(){
	$.post(host+'modul/get_table/t_bulan',{ ip:$('#ip_{/literal}{$acak}{literal}').val(),bln:$('#bln_{/literal}{$acak}{literal}').val(),thn:$('#tahun').val() },function(r){
		//var js=JSON.parse(r);
		$('.dt').html(r);
	});
}

{/literal}
</script>