<div class="row">
	<div class="col-lg-8 ">
		<!-- Custom tabs (Charts with tabs)-->
		
		<div class="card card-danger">
		  <div class="card-header">
			<h3 class="card-title">
			  <i class="fas fa-chart-pie mr-1"></i>
			  Video Evidance
			</h3>
		   
		  </div><!-- /.card-header -->
		  <div class="card-body">
			<div class="tab-content p-0">
			  <!-- Morris chart - Sales -->
			  
			 <canvas id="myCanvas" class="col-lg-12"></canvas><br>
				
				<div class="mute"></div>
				<!--iframe style="width:100%;height:400px" src="http://admin:qwerty123!@36.91.135.155:9002/ISAPI/Streaming/channels/102/httpPreview">
				
				</iframe-->
								
				<!--video id='hls-example' class="video-js vjs-default-skin" style="width:100%;height:400px" controls>
					<source id="stream_{$acak}" type="application/x-mpegURL" src="{$host}__repo/stream/{$ip.0.ip|default:'-'}/streaming_.m3u8">
				</video-->
				
				<br>
			  
			</div>
		  </div><!-- /.card-body -->
		</div>
		
	  
	  </div>
	  <!-- /.Left col -->
	  <!-- right col (We are only adding the ID to make the widgets sortable)-->
	  <div class="col-lg-4 ">

		<div class="card card-danger">
		  <div class="card-header">
			<h3 class="card-title">
			  <i class="fas fa-chart-pie mr-1"></i>
			  META DATA
			</h3>
		   
		  </div><!-- /.card-header -->
		  <div class="card-body">
			<div class="col-lg-12">
				<div class="col-lg-12">
					<div class="card card-primary">
					  <div class="card-header">
						<h5 class="card-title">FOTO KENDARAAN</h5>
					  </div>
					  <div class="card-body">
						<a id="example1" href="javascript:void(0);"  class="a_mobil" data-url="" onclick="debugBase64('{$data.gbr_mobil|default:''}')">
							<img alt="example1" src="data:image/png;base64,{$data.gbr_mobil|default:''}" class="img-fluid pad gbr_mobil" />
						</a>
						<!--a href=""  data-toggle="lightbox" data-title="sample 1 - white" class="a_gbr_mobil">
							<img src="" class="img-fluid mb-2 gbr_mobil" alt="white sample" style="width:100%"/>
						</a-->
						<!--img class="img-fluid pad gbr_mobil" src="" alt="Photo" -->
					  </div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="card card-primary">
					  <div class="card-header">
						<h5 class="card-title">FOTO FLAT KENDARAAN</h5>
						
					  </div>
					  <div class="card-body">
						<center>
						<a id="example2" href="javascript:void(0);"  class="a_plat" data-url="" onclick="debugBase64($(this).attr('data-url'))">
							<img class="img-fluid pad gbr_plat" src="data:image/png;base64,{$data.gbr_plat|default:''}" alt="Photo"></center>
						</a>
						
					  </div>
					</div>
				</div>
			</div>
		  </div><!-- /.card-body -->
		</div>
	  </div>
	  
</div>
<div class="control-group">
	  	<center>
	  	<label class="control-label" for="form-field-1"></label>
	  	<div class="controls">
	  		<center>
	  		{include file="template/button_save.html" id_na="cancel_{$mod}"  btn_goyz="true" text="Kembali Ke List"}
			</center>
	  	</div>
	  	</center>
</div>		
<br>
<script>
	$('#cancel_{$mod}_{$acak}').click(function(){
		$('#grid_nya_evidance').show();
		$('#detil_nya_evidance').html('').hide();
	});


/*setInterval(function(){
 
	filter_data()

 }, 3000);
 */
$('.tgl').datepicker({
	 format: 'yyyy-mm-dd',
	 autoclose: true
});




	

var mediaSource = "{$host}__assets/video/vid2.mp4";
var muted = true;
var canvas = document.getElementById("myCanvas"); // get the canvas from the page
var ctx = canvas.getContext("2d");
var videoContainer; // object to hold video and associated info
var video = document.createElement("video"); // create a video element
video.src = mediaSource;
// the video will now begin to load.
// As some additional info is needed we will place the video in a
// containing object for convenience
video.autoPlay = false; // ensure that the video does not auto play
video.loop = true; // set the video to loop.
video.muted = muted;
videoContainer = {  // we will add properties as needed
     video : video,
     ready : false,   
};
// To handle errors. This is not part of the example at the moment. Just fixing for Edge that did not like the ogv format video
video.onerror = function(e){
    document.body.removeChild(canvas);
    document.body.innerHTML += "<h2>There is a problem loading the video</h2><br>";
    document.body.innerHTML += "Users of IE9+ , the browser does not support WebM videos used by this demo";
    document.body.innerHTML += "<br><a href='https://tools.google.com/dlpage/webmmf/'> Download IE9+ WebM support</a> from tools.google.com<br> this includes Edge and Windows 10";
    
 }
video.oncanplay = readyToPlayVideo; // set the event to the play function that 
                                  // can be found below
function readyToPlayVideo(event){ // this is a referance to the video
    // the video may not match the canvas size so find a scale to fit
    videoContainer.scale = Math.min(
                         canvas.width / this.videoWidth, 
                         canvas.height / this.videoHeight); 
    videoContainer.ready = true;
    // the video can be played so hand it off to the display function
    requestAnimationFrame(updateCanvas);
    // add instruction
   // document.getElementById("playPause").textContent = "Click video to play/pause.";
    //document.querySelector(".mute").textContent = "Mute";
	//draw();
}

function updateCanvas(){
    ctx.clearRect(0,0,canvas.width,canvas.height); 
    // only draw if loaded and ready
    if(videoContainer !== undefined && videoContainer.ready){ 
        // find the top left of the video on the canvas
        video.muted = muted;
        var scale = videoContainer.scale;
        var vidH = videoContainer.video.videoHeight;
        var vidW = videoContainer.video.videoWidth;
        var top = canvas.height / 2 - (vidH /2 ) * scale;
        var left = canvas.width / 2 - (vidW /2 ) * scale;
        // now just draw the video the correct size
        ctx.drawImage(videoContainer.video, left, top, vidW * scale, vidH * scale);
        if(videoContainer.video.paused){ // if not playing show the paused screen 
            drawPayIcon();
			//draw();
        }else{
			//draw();
		}
    }
    // all done for display 
    // request the next frame in 1/60th of a second
    requestAnimationFrame(updateCanvas);
}

function drawPayIcon(){
     ctx.fillStyle = "black";  // darken display
     ctx.globalAlpha = 0.5;
     ctx.fillRect(0,0,canvas.width,canvas.height);
     ctx.fillStyle = "#DDD"; // colour of play icon
     ctx.globalAlpha = 0.75; // partly transparent
     ctx.beginPath(); // create the path for the icon
     var size = (canvas.height / 2) * 0.5;  // the size of the icon
     ctx.moveTo(canvas.width/2 + size/2, canvas.height / 2); // start at the pointy end
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 + size);
     ctx.lineTo(canvas.width/2 - size/2, canvas.height / 2 - size);
     ctx.closePath();
     ctx.fill();
     ctx.globalAlpha = 1; // restore alpha
	 
	ctx.strokeStyle = 'red';
    ctx.lineWidth = 5;

    
}    

function playPauseClick(){
     if(videoContainer !== undefined && videoContainer.ready){
          if(videoContainer.video.paused){                                 
                videoContainer.video.play();
				
          }else{
                videoContainer.video.pause();
				
          }
     }
}
function videoMute(){
    muted = !muted;
	if(muted){
         document.querySelector(".mute").textContent = "Mute";
    }else{
         document.querySelector(".mute").textContent= "Sound on";
    }


}
function draw() {
        // Assign our canvas element to a variable 
	// Draw Filled Shape 2 (left flap of logo)
	var size = (canvas.height / 2) * 0.5; 
	// draw a red line
    ctx.beginPath();
	ctx.moveTo(canvas.width/2 + size/2, canvas.height / 2); // start at the pointy end
    //ctx.moveTo(1, 100);
    ctx.lineTo(100, 100);
    ctx.stroke();
}


// register the event
var acak_na='{$acak}';
canvas.addEventListener("click",playPauseClick);


</script>